@use "base/variables" as v;
@use "base/mixins" as m;

.navegacion {
    display: flex;
    flex-direction: column;

    @include m.desktop {
        flex-direction: row;
    }

    &__enlace {
        color: v.$blanco;
        font-size: 1.8rem;
        padding: 1rem;
        font-weight: v.$black;
        text-transform: uppercase;
        text-align: center;

        transition: color .3s ease-out;

        &:hover,
        &--actual {
            background-color: v.$blanco;
            color: v.$azul;
        }
    }
}